{% load static %}
<!-- Modal Aspiradora -->		
<div class="modal fade" id="modalAspiradora" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">{{ modal_title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>{{ modal_description }}</p>

                <div class="row">
                    <div class="col-4">
                        <H1>TITULO DE PRUEBA</H1>
                        <img src="{% static 'img/imagenes-electrodomesticos/ventiladores/ventilador-liliana.png' %}" alt="{{ image.alt }}" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                <!--<button type="button" class="btn btn-primary">Guardar cambios</button -->
            </div>
        </div>
    </div>
</div>