.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    border: 1px solid #212529;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #9b9b8e;
  }
  
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: contain;
  }