#card-venta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-venta .form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  width: 100%;
}

#card-venta .form-group label {
  width: 100px;
  text-align: right;
  margin-right: 15px;
}

#card-venta .form-group input,
#card-venta .form-group select {
  flex: 1;
  max-width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#card-venta .form-group span.errorlist {
  color: #ff0000;
  font-size: 0.9rem;
  margin-top: 5px;
  width: 100%;
  word-wrap: break-word;
  display: block;
  text-align: left;
  margin-left: 115px;
}

#card-venta .form-group.producto {
  flex-direction: column;
  align-items: flex-start;
}
