body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

header {
    padding: 2px;
    text-align: center;
}

#content {
    background-color: #212529;
    flex: 1; 
    padding: 20px;
    color: white;
}

#content h1 {
    text-align: center;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(199, 199, 199, 0.5);
    border-radius: 50%;
    padding: 10px;
}
