{% extends "core/base.html" %}

{% load static %}
{% block title %} Filtrar proveedores {% endblock title %}

{%block extra_style%}
<link rel="stylesheet" href="{% static 'css/stylesBuscar.css' %}">
{% endblock %}

{% block content %}

<h1>Buscar producto por nombre</h1>

<!-- Barra de búsqueda -->
<form class="d-flex ms-3 mt-3" style="flex-grow: 1;" method="get">
  <input class="form-control me-2" type="text" name="busqueda_productos" placeholder="Buscar Producto..." aria-label="Search" value="{{ request.GET.busqueda_productos }}">
  <button class="btn btn-outline-light" type="submit">Buscar</button>
</form>


<ul>
  <div class="container">
      <div class="row">
        {% for producto in productos %}
          <div class="col-md-3 col-sm-6 col-12 mb-4 mt-3">
            <div class="card">
              <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
              <div class="card-body">
                  <h5 class="card-title">{{ producto.nombre }}</h5>
                  <p class="card-text">{{ producto.descripcion }}</p>
                  <p class="card-text"><strong>Precio: ${{ producto.precio }}</strong></p>
                  <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProducto{{ producto.codigo }}">Ver Más</a>
              </div>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
</ul>

{% block modals %}
    {% for producto in productos %} 
        <div class="modal fade" id="modalProducto{{ producto.codigo }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalClienteLabel{{ producto.codigo }}">{{ producto.nombre }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenedor de imágenes alineadas horizontalmente -->
                        <div class="d-flex gap-3">
                            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" 
                                 class="img-fluid mb-3" style="width: 33.33%; max-height: 150px; object-fit: contain;">
                            <img src="{{ producto.imagenExtra1.url }}" alt="{{ producto.nombre }}" 
                                 class="img-fluid mb-3" style="width: 33.33%; max-height: 150px; object-fit: contain;">
                            <img src="{{ producto.imagenExtra2.url }}" alt="{{ producto.nombre }}" 
                                 class="img-fluid mb-3" style="width: 33.33%; max-height: 150px; object-fit: contain;">
                        </div>
                        <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                        <p><strong>Precio: $</strong> {{ producto.precio }}</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% endblock content %}



