{% extends "core/base.html" %}
{% load static %}
{% block title %} Agregar Cliente {% endblock title %}

{%block extra_style%}
<link rel="stylesheet" href="{% static 'css/stylesForm.css' %}">
<link rel="stylesheet" href="{% static 'css/styleFecha.css' %}">
{% endblock %}

{% block content %}
<div class="card text-center">
    <div class="card-header">
        Agregar Venta
    </div>
    <div class="card-body" id="card-venta">
        <form method="post" enctype="multipart/form-data" action="{% url 'create_venta' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_fecha">Fecha:</label>
                {{ form.fecha }}
                {{ form.fecha.errors }}
            </div>
            <div class="form-group">
                <label for="id_precio">Precio:</label>
                {{ form.precio }}
                {{ form.precio.errors }}
            </div>
            <div class="form-group">
                <label for="id_cliente">Cliente:</label>
                {{ form.cliente }}
                {{ form.cliente.errors }}
            </div>
            <div class="form-group">
                <label for="id_producto">Producto:</label>
                {{ form.producto }}
                {% if form.producto.errors %}
                    <span class="errors">{{ form.producto.errors|join:", " }}</span>
                {% endif %}
            </div>
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
        </form>
    </div>
</div>
{% endblock content %}

