{% extends "core/base.html" %}
{% load static %}
{% block title %} Agregar Producto {% endblock title %}

{%block extra_style%}
<link rel="stylesheet" href="{% static 'css/stylesForm.css' %}">
{% endblock %}


{% block content %}
<div class="card text-center m-3">
    <div class="card-header">
        Agregar Producto
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
                <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
        </form>
    </div>
  </div>
{% endblock content %}

