{% extends "core/base.html" %}

{% load static %}

{% block title %}Acercade{% endblock %}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/stylesAcercade.css' %}">
{%endblock%}

{% block content %}
<section id="content">
    <h1 class="text-center mb-4">Acerca de Nosotros</h1>
    
    <section class="mb-5">
        <h2>Descripción del Negocio</h2>
        <p>Somos una empresa dedicada a la venta de electrodomésticos, comprometidos en brindar productos/servicios de alta calidad para satisfacer las necesidades de nuestros clientes.</p>
    </section>
    
    <section class="mb-5">
        <h2>Historia y Visión</h2>
        <p>Nuestra empresa fue fundada en 2024 con la visión de brindar el mejor servicio de ventas al cliente. Desde entonces, hemos trabajado para hacer realidad nuestra misión y adaptarnos a los cambios del mercado.</p>
    </section>
    
    <section class="mb-5">
        <h2>Valores de la Empresa</h2>
        <ul>
            <li><strong>Integridad:</strong> Trabajamos con honestidad y transparencia.</li>
            <li><strong>Innovación:</strong> Nos esforzamos por mejorar continuamente.</li>
            <li><strong>Responsabilidad:</strong> Asumimos el compromiso de brindar calidad y excelencia.</li>
        </ul>
    </section>

    <section class="mb-5">
        <h2>Equipo de Fundadores</h2>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
                <img src="{% static 'img/integrantes/Foto John.png' %}" alt="John Geronimo" class="rounded-circle mb-2" style="width: 150px; height: 150px; object-fit: cover;">
                <h4 class="h6">John Michael Gerónimo</h4>
                <p class="small">Desarrollador Web</p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
                <img src="{% static 'img/integrantes/Felipe.png' %}" alt="Felipe Quiroga" class="rounded-circle mb-2" style="width: 150px; height: 150px; object-fit: cover;">
                <h4 class="h6">Felipe Quiroga</h4>
                <p class="small">Desarrollador Web</p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-6 text-center">
                <img src="{% static 'img/integrantes/Matias.png' %}" alt="Matias" class="rounded-circle mb-2" style="width: 150px; height: 150px; object-fit: cover;">
                <h4 class="h6">Matias </h4>
                <p class="small">Desarrollador Web</p>
            </div>
        </div>
    </section>

    <section class="mb-5">
        <h2>Propósito del Negocio</h2>
        <div class="ratio ratio-16x9"style="max-width: 600px margin: auto;">
            <iframe src="https://www.youtube.com/embed/8MFAvMgtw4s" title="YouTube video" allowfullscreen></iframe>
        </div>
        
    </section>
</section>
{% endblock content %}
        