{% extends "core/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/stylesIndex.css' %}"> {% endblock %}

{% block extra_style %}
{% endblock extra_style %}


{%block content%}

  <div class="container my-3">
    <div class="d-flex flex-wrap justify-content-center bg-dark p-0 rounded">
      <a href="#" class="btn btn-outline-light m-2">ELECTRODOMÉSTICOS</a>
      <a href="#" class="btn btn-outline-light m-2">TELEVISIONES</a>
      <a href="#" class="btn btn-outline-light m-2">AUDIO Y VIDEO</a>
      <a href="#" class="btn btn-outline-light m-2">COMPUTADORAS</a>
      <a href="#" class="btn btn-outline-light m-2">CELULARES</a>
      <a href="#" class="btn btn-outline-light m-2">OFERTAS</a>
    </div>
  </div>


  <h3 class="proposito text-center text-white">
    El propósito de Electra Home es ofrecer soluciones innovadoras y accesibles para el hogar, mejorando la calidad de
    vida de sus clientes a través de productos de tecnología avanzada y alto rendimiento. La empresa se enfoca en
    brindar electrodomésticos y artículos para el hogar que combinen funcionalidad, diseño y eficiencia energética,
    buscando siempre la sostenibilidad y el respeto al medio ambiente. Su compromiso con la calidad y el servicio al
    cliente es clave, ofreciendo asesoría personalizada y un soporte postventa confiable. Electra Home también promueve
    la innovación constante, integrando las últimas tecnologías en sus productos para garantizar una experiencia única.
    Con una visión inclusiva, la empresa se esfuerza por ser accesible para una amplia gama de clientes, sin comprometer
    la excelencia de sus productos.
  </h3>

  

{%endblock%}