{% load static %}
<title> Login </title>
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
{%endblock%}


<body>
    <div class ="formulario">
        <h1> Inicio de sesion </h1>
        <form method ="post">
            {% csrf_token %}
            <div class="username">
                <input type ="text" required name="username">
                <label>Nombre de usuario</label>
            </div>
            <div class ="contrasena">
                <input type ="password" required name="password1">
                <label>Contraseña</label>
            </div>
            {{error}}
            <input type="submit" value="Iniciar">
            <div class = "registrarse">
                Realizar mi <a href ="{% url 'register' %}">registro</a> 
            </div>
        </form>
    </div>
    
</body>
</html>